footer{
    background-color: rgb(29, 0, 61);
    color: hsl(266, 100%, 50%);
    padding: 20px 0;
    text-align: center;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    margin-bottom: 5px;
    font-size: 15px;
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-color: blueviolet;
}
.footer-social svg{
    width: 30px;
    height: 30px;
    fill:rgb(29, 0, 61);
}
/*Estilo para mobiles*/
@media (max-width: 480px){
    footer{
        padding: 15px 0;
    }
}
